@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts-1/Montserrat-Light.ttf');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'Fraunces';
    src: url('fonts-2/Fraunces_72pt-Bold.ttf');
    font-style: bold;
    font-weight: bold
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts-1/Montserrat-Regular.ttf');
    font-style: bold;
    font-weight: bold;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%); 
}

.card-container {
    display: flex;
    align-items: center;
    width: 30rem;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto; 
    margin-top: 5rem;
    overflow: hidden;
}

.image {
    width: 50%;
}

h3 {
    font-family: 'Montserrat-Light';
    font-size: 13px;
    margin: 15px;
}

h1 {
    font-family: 'Fraunces';
    font-size: 32px;
    margin-left: 13px;
}

p {
    font-family: 'Montserrat-Regular'; 
    font-size: 13px;
    margin: 12px;
    margin-left: 13px;
}

h1:nth-child(5) {
    color: red;
    font-size: 32px;
}










