@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts-1/Montserrat-Bold.ttf');
    font-style: bold;
    font-weight: bold;
}


@font-face {
    font-family: 'Fraunces-Bold';
    src: url('fonts-2/Fraunces_72pt-Bold.ttf');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts-1/Montserrat-Regular.ttf');
    font-style: bold;
    font-weight: bold;
}

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-container {
  border-radius: .5rem;
  display: flex;
  max-width: 500px;
  max-height: 400px;
  background-color: white;
  margin: 0 1rem;
  overflow: hidden; 
}

.product-image {
  width: 50%;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 10px;
}

.product-content {
  width: 50%;
  padding: 2rem;
}

.product-category {
  font-family: 'Montserrat-Regular';
  font-weight: 500;
  font-style: bold;
  font-size: .5em;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-bottom: 12px;
}

.product-title {
  font-family: 'Fraunces-Bold';
  font-size: 1.7em;
  margin-bottom: 2rem;
}

.product-description {
  font-family: 'Montserrat-Regular';
  font-size: .7em;
  padding-bottom: 1.2rem;
  line-height: 1.2rem;
  font-weight: 800;
}














































